#######################################################################
#                           ShyParticles                             #
#                            by Shynixn                              #
#######################################################################

############################
# Language settings
############################
language: "en_us"

############################
# Command settings
############################
commands:
  shyparticles:
    aliases:
      - "sparticles"